/* app css stylesheet */
.button-dropdown {
    position: relative;
}
.button-dropdown .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    padding: 10px;
    width: 100%;
    margin: 0;
    margin-top: 3px;
    text-align: left;
    background-color: #fff;
    border: 1px solid;
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    z-index: 1;
}

.inner-addon {
    position: relative;
}

.inner-addon .search-caret {
    position: absolute;
    padding: 8px 11px;
    cursor: pointer;
    z-index: 4;
}

.left-addon > .search-caret { left:  4rem;}
.right-addon > .search-caret { right: 4rem;}

.left-addon > input  { padding-left:  30px; }
.right-addon > input { padding-right: 30px; }

@media screen and (min-width: 481px) {
    .inner-addon > .search-caret {
        padding: 13px 10px;
    }
    .right-addon > .search-caret  { right: 11.6rem;}
}

.ng-table-counts {
    display: none;
}

.padding-top-40 {
    padding-top: 40px;
}

.padding-top-20 {
    padding-top: 20px;
}

.margin-top-8 {
    margin-top: 8px;
}
.pagination-child {
    display: inline;
}

.align-right {
    text-align: right;
}

.bottom-border {
    border-bottom: 1px solid #ccc;
}

.status-count, .status-name {
    font-size: 2.2rem;
}
.status-count {
    font-size: 6rem;
    min-width: 12rem;
}

.status-info {
    float: left;
    cursor: pointer;
    padding-right: 10%;
}
.status-info.selected {
    margin: 0 1%;
    padding-left: 1%;
    padding-right: 7%;
}

.ng-table__row--empty {
    text-align: center;
}

.usa-color-text-primary {
    color: #0071bc;
}

.usa-color-text-gray {
    color: #5b616b;
}

.usa-color-text-white {
    color: #ffffff;
}
.usa-color-primary-darkest {
    background-color: #112e51;
}

.usa-color-white {
    background-color: #ffffff;
}

.usa-fedramd-logo-background {
    background-image: url("/app/images/fedramp-logo.png");
    background-position: right 25%;
    background-repeat: no-repeat;
    background-size: 180px auto;
}

@media screen and (max-width: 600px) {
    .usa-fedramd-logo-background {
        background-image: none;
    }
    h1 {
        margin-top: 0;
    }
}

.usa-color-text {
    margin-bottom: .4rem;
    padding: 0 2rem;
}

.ng-table-header {
    text-align: left;
}

.ng-table-wrapper {
    width: auto;
    overflow: auto;
}

.columns-dropdown {
    overflow-y: scroll;
    max-height: 300px;
    padding-left: 1px;
}

.columns-dropdown input[type="checkbox"] + label {
    margin-top: 0;
}

.columns-dropdown input[type="checkbox"] {
    position: relative;
}

.action-buttons {
    float: none;
}

@media screen and (min-width: 481px) {
    .action-buttons {
        float: right;
    }
}