<div id="printableTable">
    <h1 translate="app.head">FedRAMP Dashboard</h1>
    <div ng-if="searchRow && searchRow != ''"><h2 translate="label.search.query"></h2> {{searchRow}}</div>
    <table class="table table-condensed table-bordered table-striped ng-table">
        <thead>
        <tr>
            <th class="header"
                ng-class="{
                    'sortable': tableParams.sorting()[header.field],
                    'sort-asc': tableParams.sorting()[header.field]=='asc',
                    'sort-desc': tableParams.sorting()[header.field]=='desc'
                }"
                ng-repeat="header in printableHeaders"><div class="sort-indicator">{{header.title}}</div></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in printableRows">
            <td ng-repeat="header in printableHeaders">{{row[header.field]}}</td>
        </tr>
        </tbody>
    </table>
</div>