<div class="usa-color-text usa-color-primary-darkest usa-color-text-white">
    <div class="usa-grid">
        <div class="usa-grid-full usa-fedramd-logo-background">
            <div class="usa-grid-full">
                <div class="usa-width-two-thirds">
                    <h1 translate="app.head"></h1>
                    <span translate="app.description"></span>
                </div>
            </div>
            <div class="usa-grid-full padding-top-20">
                <div class="status-info" ng-class="{'usa-color-text-primary usa-color-white selected': status.selected}"
                     ng-repeat="status in dc.statusData" ng-click='dc.updateTable(status.name)'>
                    <div class="status-count" ng-bind="status.count"></div>
                    <div class="status-name" ng-bind="status.name"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="usa-grid">
    <div class="usa-grid-full padding-top-40">
        <span class="usa-color-text-gray" translate="status.search.description"></span>
        <div class="usa-width-one-half">
            <form class="usa-search {{dc.phone ? 'usa-search-small' : 'usa-search-big'}}">
                <div role="search" class="inner-addon right-addon button-dropdown margin-top-8">
                    <span class="search-caret fa fa-caret-down dropdown-toggle"></span>
                    <input id="search-field-big" type="search" name="searchRow" title="" ng-model="searchRow"
                           placeholder="{{'search.placeholder' | translate}}">
                    <button type="submit" ng-click="dc.filterTable();">
                        <span class="usa-search-submit-text" translate="label.search"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <div class="columns-dropdown" style="max-height: 250px">
                            <div class="usa-grid-full" ng-repeat="col in dc.tableMetadataList">
                                <label for="filter_{{col.field}}_month">{{col.title}}</label>
                                <input id="filter_{{col.field}}" name="{{col.field}}"
                                       ng-model="dc.tableFilter[col.field]" type="text" ng-if="col.type == 'text'">
                                <div class="usa-date-of-birth" ng-if="col.type == 'date'">
                                    <div class="usa-datefield usa-form-group usa-form-group-month">
                                        <label for="filter_{{col.field}}_month" translate="label.month"></label>
                                        <input class="usa-form-control" id="filter_{{col.field}}_month"
                                               name="{{col.field}}_month" pattern="0?[1-9]|1[012]" min="1" max="12"
                                               ng-model="dc.tableFilter[col.field].month" type="number">
                                    </div>
                                    <div class="usa-datefield usa-form-group usa-form-group-day">
                                        <label for="filter_{{col.field}}_day" translate="label.day"></label>
                                        <input class="usa-form-control" id="filter_{{col.field}}_day"
                                               name="{{col.field}}_day" pattern="0?[1-9]|1[0-9]|2[0-9]|3[01]" min="1"
                                               max="31" ng-model="dc.tableFilter[col.field].day" type="number">
                                    </div>
                                    <div class="usa-datefield usa-form-group usa-form-group-year">
                                        <label for="filter_{{col.field}}_year" translate="label.year"></label>
                                        <input class="usa-form-control" id="filter_{{col.field}}_year"
                                               name="{{col.field}}_year" pattern="[0-9]{4}" min="1900" max="3000"
                                               ng-model="dc.tableFilter[col.field].year" type="number">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-buttons">
                            <button ng-click="dc.filterTable(true);" class="usa-button-secondary" translate="label.cancel"></button>
                            <button ng-click="dc.filterTable();" translate="label.search"></button>
                        </div>
                    </ul>
                </div>
            </form>
        </div>
        <div class="button-dropdown action-buttons">
            <button ng-click="dc.printTable()" translate="label.print"></button>
            <button class="usa-button-outline dropdown-toggle"><span translate="label.add.columns"></span> &nbsp;<span class="fa fa-caret-down"></span></button>
            <ul class="dropdown-menu">
                <div class="columns-dropdown">
                    <div class="usa-grid-full" ng-repeat="col in dc.tableMetadataList | orderBy:['-show','title']">
                        <input id="addColumns_{{col.field}}" type="checkbox" ng-model="col.show">
                        <label for="addColumns_{{col.field}}">{{col.title}}</label>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
<div class="usa-grid">
    <div ng-if="tableParams" class="usa-width-one-whole table-responsive">
        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped"
               ng-table-dynamic="tableParams with dc.tableMetadataList"
               template-pagination="app/views/tablePagination.html" wrap-in-div="ng-table-wrapper">
            <tr ng-repeat="row in $data track by row.id">
                <td ng-repeat="col in $columns">{{row[col.field]}}</td>
            </tr>
            <tr ng-show="!$data.length">
                <td colspan="{{dc.activeColumns}}" class="ng-table__row--empty">
                    <span translate="csps.no.data"></span>
                </td>
            </tr>
        </table>
    </div>
    <iframe title="P-ATO" id="printf" name="printf" style="display: none"></iframe>
</div>

