<div class="usa-grid-full">
    <div class="usa-width-one-half" translate="table.pagination.text" ng-if="params.total()>0"
         translate-values="{start: (params.page() - 1) * params.count() + 1, stop: (params.page() - 1) * params.count() + params.data.length, total: params.total()}"></div>
    <div ng-if="pages.length" class="usa-width-one-half pagination ng-table-pagination align-right">
        <button ng-class="{'usa-button-disabled': !page.active && !page.current, 'usa-button-active': page.current}"
                ng-repeat="page in pages" ng-switch="page.type"
                ng-click="params.page(page.number)">
            <span ng-switch-when="prev">
                <span class="fa fa-caret-left fa-lg"></span>
            </span>
            <span ng-switch-when="first"><span ng-bind="page.number"></span></span>
            <span ng-switch-when="page"><span ng-bind="page.number"></span></span>
            <span ng-switch-when="more">&#8230;</span>
            <span ng-switch-when="last"><span ng-bind="page.number"></span></span>
            <span ng-switch-when="next">
                <span class="fa fa-caret-right fa-lg"></span>
            </span>
        </button>
    </div>
</div>